# Dependencias
node_modules/

# Variables de entorno
.env

# Archivos de registro
logs
*.log
npm-debug.log*

# Archivos de caché
.cache
.parcel-cache

# Archivos generados por TailwindCSS
**/styles.css

# Archivos de VSCode
.vscode/